.container{
  max-width: 400px;
  padding: 3rem 0.5rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.title{
  font-size: 3rem;
}

.full-width{
  width: 100%;
  margin-bottom: 1rem;
}

a{
  text-decoration: none;
}
a:hover{
  font-weight: bold;
  cursor: pointer;
}

.on-right{
    align-self: baseline;
    width: 100%;
}