<mat-card class="container">
  <mat-card-header class="title">
  @if(data?.dialogType === "edit") {
    Edit Your Profile
  } @else { 
    Create Profile
  }
  </mat-card-header>
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>First Name</mat-label>
    <input matInput formControlName="firstName">
    <mat-error *ngIf="form.get('firstName')?.hasError('required')">First Name is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName">
    <mat-error *ngIf="form.get('lastName')?.hasError('required')">Last Name is required</mat-error>
  </mat-form-field>

  
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>bio</mat-label>
    <input matInput formControlName="bio">
  </mat-form-field>

  <button mat-flat-button class="on-right" color="primary" type="submit" [disabled]="form.invalid">Submit</button>
</form>
</mat-card>