<div class="container">
  <div class="profile-header">
    <img class="profile-banner" [src]="coverUrl | async" alt="Profile Banner" />
    <span class="edit-button-wrapper">
      <app-choose-photo-button imageType="cover"></app-choose-photo-button>
    </span>

  </div>
  <div class="profile-details">
    <div class="profile-avatar-wrapper">
      <img class="profile-avatar" [src]="avatarUrl | async" alt="User Avatar" />
    </div>
    <span class="edit-button-wrapper">>
      <app-choose-photo-button></app-choose-photo-button>
    </span>
    <div>
      <h2 class="profile-name">{{ fullName | async}}</h2>

      <p>{{ bio | async}}</p>
    </div>

    <span class="profile-actions">
      <button mat-stroked-button (click)="onEdit()">Edit</button>
      <button mat-flat-button>Message</button>
    </span>
  </div>
</div>