* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.hide-on-md{
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .hide-on-md{
    display: none;
}
}